<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Travel.SQL"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ccmma\source\Git\TravelTest\TravelTest\Travel.Solution\BaseDatos\TravelDataBase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
</connectionStrings>